<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.client.dao.ApprovalDao">
    <insert id="submitApplication" parameterType="com.management.client.vo.EconomicApplyVo">
        insert into spend_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="spendType != null">
                spend_type,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="proposerId != null">
                proposer_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="spendType != null">
                #{spendType},
            </if>
            <if test="money != null">
                #{money},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="proposerId != null">
                #{proposerId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <select id="getApplyListByUser" parameterType="Integer" resultType="com.management.client.vo.EconomicApplyVo">
        select s.id,
               s.spend_type,
               s.money,
               s.task_id,
               s.remark,
               s.proposer_id,
               s.create_time,
               s.status,
               t.name as taskName
        from spend_data s
                 left join task t on s.task_id = t.id
        where proposer_id = #{id}
        order by s.create_time DESC
    </select>

    <update id="operationApply" parameterType="com.management.client.vo.EconomicApplyVo">
        update spend_data
        set status      = #{status},
            approver_id = #{approverId}
        where id = #{id}
    </update>

    <select id="getPendList" parameterType="Integer" resultType="com.management.client.vo.EconomicApplyVo">
        select s.id,
               s.spend_type,
               s.money,
               s.task_id,
               s.remark,
               s.proposer_id,
               s.create_time,
               s.status,
               t.name as taskName,
               u.name as proposerName
        from spend_data s
                 left join task t on s.task_id = t.id
                 left join `user` u on u.id = s.proposer_id
        where s.status = #{status}
    </select>

    <select id="getALLApplyList" resultType="com.management.client.vo.EconomicApplyVo">
        select s.id,
               s.spend_type,
               s.money,
               s.task_id,
               s.remark,
               s.proposer_id,
               s.create_time,
               s.status,
               s.approver_id,
               t.name  as taskName,
               u.name  as proposerName,
               us.name as approverName
        from spend_data s
                 left join task t on s.task_id = t.id
                 left join `user` u on u.id = s.proposer_id
                 left join `user` us on us.id = s.approver_id
        order by s.create_time DESC
    </select>
</mapper>